# Compiled class files
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# NetBeans
nbproject/private/
build/
dist/
.nb-gradle/

# VS Code
.vscode/

# IntelliJ
.idea/
*.iml
out/

# Eclipse
.classpath
.project
.settings/
bin/
